<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Hotel Name</th>
            <th scope="col">Hotel code</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotels">
            <td>{{ hotel.id }}</td>
            <td>{{ hotel.hotelName }}</td>
            <td>{{ hotel.hotelCode }}</td>
            <td>{{ hotel.updated }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
