<div class="container">
<div class="card my-5">
    <div class="card-body">
      <table *ngIf="showEntries" class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Hotel Name</th>
            <th scope="col">Hotel code</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotels">
            <td>{{ hotel.id }}</td>
            <td>{{ hotel.hotelName }}</td>
            <td>{{ hotel.hotelCode }}</td>
            <td>{{ hotel.updated }}</td>
          </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="!showEntries">No Entries to show</div>
    </div>
    <div><a href='/' class="btn btn-info">Back</a></div>
    <div><a href='/addHotel' class="btn btn-info">Add Hotel</a></div>
  </div>
  </div>
