<div class="container">
    <h3>Hotel Energy Consumption</h3>
    <h5>Get Energy Consumption Details by Hotel</h5>
        <form name = "energyDetailsForm" [formGroup]="energyConsumptionDetailsForm" (ngSubmit)="onSubmit()">
            <div class="row">
            <div class="col">
                <label for="hotelName">Hotel Name</label>
                <select id="hotelName" class="form-control" [(ngModel)]="selectedHotel">
                    <option value="" disabled>Choose your hotel</option>
                    <option *ngFor="let hotel of hotels" [ngValue] = "hotel.hotelName">{{ hotel.hotelName }}</option>>
                </select>
            </div>
            <div class="col">
                <label for="energy">Energy Type</label>
                <select id = "energy" class="form-control" [(ngModel)]="selectedEnergy">
                    <option value="" disabled>Choose your energy type</option>
                    <option *ngFor="let energy of energyTypes" [ngValue] = "energy">{{ energy }}</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" >Get Energy Consumptions</button>
            </div>
            </div>
        </form>
    <div class="card my-5" *ngIf="energyConsumptionDetails">
        <div class="card-body">
            <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let energy of energyConsumptionDetails">
                    <td>{{ energy.id }}</td>
                    <td>{{ energy.quantity }}</td>
                    <td>{{ energy.updated }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div><a href='/'>Back</a></div>
  </div>