<div class="container">
    <h3>Hotel Energy Consumption</h3>
    <h5>Get Energy Consumption Details by Hotel</h5>
    <div class="row">
        <div class="col">
            <label for="hotelName">Hotel Name</label>
            <select id="hotelName" class="form-control" [(ngModel)]="selectedHotel" required>
                <option *ngFor="let hotel of hotels" [ngValue] = "hotel">{{ hotel.hotelName }}</option>
            </select>
        </div>
        <div class="col">
            <label for="energy">Energy Type</label>
            <select id = "energy" class="form-control" [(ngModel)]="selectedEnergyType" required>
                <option *ngFor="let energy of energyTypes" [ngValue] = "energy">{{ energy }}</option>
            </select>
        </div>
        <div class="col">
            <label for="energy">Get Energy Consumptions</label>
            <div>
                <button type="submit" class="btn btn-primary" (click)="addProduct()">Submit</button>
            </div>
        </div>
    </div>
    <div *ngIf="postError" class="alert alert-danger"> {{ postErrorMessage }}</div>
    <div class="card my-5" *ngIf="energyConsumptionDetails && !showNoEntries">
        <div class="card-body">
            <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let energy of energyConsumptionDetails">
                    <td>{{ energy.id }}</td>
                    <td>{{ energy.quantity }}</td>
                    <td>{{ energy.updated }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="showNoEntries">
        <p>No Entries for the selection.</p>
    </div>
    <div><a href='/' class="btn btn-info">Back</a></div>
    <div><a href='/addEnergyDetails' class="btn btn-info">Add Energy Consumption Details</a></div>
  </div>